body {
  margin: 0;
   font-family: "Hiragino Kaku Gothic ProN";
}

header {
  height: 65px;
  width: 100%;
  position: fixed;
   top:0;
 z-index: 10;

}

header .container {

  background: #808080;
  padding: 10px 70px;

}

.header-left {

  float: left;
  line-height: 1px;

}



.header-left img {

  width: 70px;
}

.header-right {
  text-align: right;
  font-size:  9px;

}

.log {
  text-decoration: none;
  background: #C0C0C0;
  padding: 10px 15px;
  color: 	#FFFFFF;


}

.log:hover {
  opacity: 0.7;
  background-color: #808080;
  transition: all 1s;
}




.top-wrapper {
  background-image: url(https://prog-8.com/images/html/advanced/top.png);
  background-size: cover;
  text-align: center;
  color: #FFF;
  height: 340px;
}


.top-wrapper h1,p,a {
  opacity: 0.7;
}

.top-wrapper a:hover {
  opacity: 1;
}

.container .one {
  margin: 0;
  padding-top: 60px;

}

.container .two {
  margin: 0;
}



.top-wrapper p {
  font-size: 9px;
}

.tree {
  margin-bottom: 0;
}

.sukima {
  margin-top: 0;
}

.start {
  font-size: 9px;
  padding: 5px 20px;
  border-radius: 5px;
  color: white;
  text-decoration: none;
}

.ten {
  background: #33CC99;
}

.eleven {
  background: #3366FF;
}

.twelve {
  background: #66CCFF;
}

.eleven  {
  margin-right: 10px;
}

.lesson-wrapper {
  margin: 0;
  height: 360px;
  background: #EEEEEE;
  text-align: center;
}


.lesson {
  float: left;
  width: 25%;

}



.lesson-wrapper h2 {
  text-align: center;
  margin:0;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 12px;
  color: #808080;
}

.lesson-icon img {
  width: 50%;
}



.lesson-icon {
  position: relative;
}

.lesson-icon p {
  position: absolute;
  top: 40px;
  font-weight: bold;
  width: 100%;
  color: white;
  font-size: 9px;
}

.text-contens {
 width: 80%;
 display: inline-block;
 margin: 20px;
 font-size:9px;
}

.message-wrapper {
  text-align: center;
  height: 150px;

}

.message-wrapper h2 {
  font-size: 12px;
  color: #808080;
  margin-bottom: 0;
  margin-top: 30px;

}

.heading p {
  font-size: 10px;
  margin-top: 0px;
}

.btn-message {
  display: inline-block;
  font-size: 10px;
  width: 100px;
  background: #66CCFF	;
  border-radius: 4px;
  padding: 2px 10px;
  color: white;
  box-shadow: 0px 4px #99CCCC;
  margin-top: 10px;
  cursor: pointer;
}

.btn-message:active {
  position: relative;
  top: 6px;

}

footer {
  margin: 0;
}

footer .container {
  border-top: 1px solid #EEEEEE;
  padding-left: 70px;
}

footer img {
  width: 70px;
  padding:0;
  margin:0;
}

footer .container p {
  font-size: 9px;
  margin-top: 0px;
  padding: 0;

}
